In [49]:
import pandas as pd
import numpy as np
import scipy.stats as st
from scipy import stats

#### Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

## Part 1

In [50]:
data = pd.read_excel("anova_lab_data.xlsx")
data.head()

  Power   Etching Rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

### State the null hypothesis:

In [ ]:
# H0: mean etching rate for different levels of power is the same

### State the alternate hypothesis:

In [ ]:
# H1: mean etching rate for different levels of power is not the same

### What is the significance level?

In [ ]:
# significance level: 5%, alpha: 0.05

### What are the degrees of freedom of model, error terms, and total DoF?

In [18]:
# total degrees of freedom (n-1):
len(data) - 1

# error (n-k):
len(data)-2

13

## Part 2

### In this section, use the Python to conduct ANOVA

In [51]:
data.rename(columns = {'Power ' : 'Power'}, inplace = True)
data.head()

   Power  Etching Rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

In [52]:
data['Power_count'] = data.groupby('Power').cumcount() ##is the new index 

data_pivot = data.pivot(index='Power_count', columns='Power', values='Etching Rate')
data_pivot.columns = ['Power_'+str(x) for x in data_pivot.columns.values]
data_pivot.head()

             Power_160 W  Power_180 W  Power_200 W
Power_count
0                   5.43         6.24         8.79
1                   5.71         6.71         9.20
2                   6.22         5.98         7.90
3                   6.01         5.66         8.15
4                   5.59         6.60         7.55

In [53]:
st.f_oneway(data_pivot['Power_160 W'],data_pivot['Power_180 W'],data_pivot['Power_200 W'])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

### What conclusions can you draw from the experiment and why?

In [ ]:
# p-value is lower than alpha (significance level: 5%) 
#   we have enough evidence to say that mean etching rate for different levels of power is not the same, 
#    we reject H0.