#  T-tests and P-values

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_re`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import scipy.stats as st

In [ ]:
# One tailed t-test - In a packing plant, a machine packs cartons with jars. 
#It is supposed that a new machine will pack faster on the average than the machine currently used. 
#To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. 
#The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. 
#Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one 
#machine is better than the other?

In [9]:
data = pd.read_csv('machine2.txt',sep=' ')

In [10]:
data

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [ ]:
# Hypothsis: we want to test if the new machine is faster than the old machine
# H0: mean of new machine >= mean of old machine
# H1: mean of new machine < mean of old machine

In [12]:
st.ttest_ind(data['New_machine'], data['Old_machine'], equal_var=False)

Ttest_indResult(statistic=-3.397230706117603, pvalue=0.0032422494663179747)

In [21]:
print('p-value for one tailed t-test is:')
0.0032422494663179747/2


# p-value is lower than significance level of 5% and t statistic is negative which means the test is 'going' in the direction of H1
# what gives me enough evidence to reject H0

p-value for one tailed t-test is:

0.0016211247331589873

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use Ironhack's database to load the data (db: pokemon, table: pokemon_stats).

In [2]:
# Your code here:
pokemon=pd.read_csv("pokemon.csv")
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [8]:
leg = pokemon[pokemon.Legendary==True]
leg.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [9]:
norm =pokemon[pokemon.Legendary==False]
norm.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [17]:
features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']

def t_test_features(s1, s2, features):
    results = {}
    for i in features:
        results[i]=st.ttest_ind(s1[i],s2[i], equal_var=False)
    return results

In [18]:
t_test_features(leg, norm, features)

{'HP': Ttest_indResult(statistic=8.981370483625046, pvalue=1.0026911708035284e-13),
 'Attack': Ttest_indResult(statistic=10.438133539322203, pvalue=2.520372449236646e-16),
 'Defense': Ttest_indResult(statistic=7.637078164784618, pvalue=4.8269984949193316e-11),
 'Sp. Atk': Ttest_indResult(statistic=13.417449984138461, pvalue=1.5514614112239812e-21),
 'Sp. Def': Ttest_indResult(statistic=10.015696613114878, pvalue=2.2949327864052826e-15),
 'Speed': Ttest_indResult(statistic=11.47504444631443, pvalue=1.049016311882451e-18),
 'Total': Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)}

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [ ]:

   """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """

In [ ]:
# I will continue with the description

In [20]:
st.ttest_rel(pokemon['Attack'], pokemon['Defense'])
# p-value is lower than 0.05 so we can say we have enough evidance to reject Ho(Ho:attack=defence)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [ ]:
# Your comment here

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [ ]:
# Your code here

#### What conclusions can you make?

In [ ]:
# Your comment here

#### Compare pokemons who have single type vs those having two types.

In [ ]:
# Your code here

#### What conclusions can you make?

In [ ]:
# Your comment here

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [ ]:
# Your code here

#### What conclusions can you make?

In [ ]:
# Your comment here